ul{
    list-style: none;  
}

span{
    display: inline-block;
}
a{
    display: inline-block;
    font-size: .8rem;
    color: var(--color-link);
    text-decoration: none;
    font-weight: bolder;
}

/**************** Hover Section **************/
a:hover img, .home-container>.icon:hover{
    filter: brightness(100%);
    cursor: pointer;
}

a:hover{
    color: white;
}
.link-up{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
}
.link-up-sm{
    display: inline-block;
    vertical-align: super;
}
.icon{
    filter: brightness(70%);
    display:inline-block;
    margin-left: 1rem;
    width: 1.5rem;
}
.icon-sm{
    width: 1rem;
}
/********************* Distanze ********************/

.pd-1all{
    padding: 1rem;
}
.pd-1t-1b{
    padding: 1rem 0;
}
.pd_5b{
    padding-bottom: .5rem;
}
.pd_5l_5r{
    padding: 0 .5rem; 
}

.pd-1b{
    padding-bottom: 1rem;
}
.mg-1b{
    margin-bottom: 1rem;
}
/************* Button Default ****************/

button{
    background-color: var(--color-top-nav);
    color: white;
    padding: .8rem 2rem;
    border-radius: 1.5rem;
    margin-right: 1.5rem;
}
button:hover{
    cursor: pointer;
}

/************BORDO VERDE**************/

.category hr{
    display: none;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--color-icon);
    width: 30px;
}
.category li:hover hr{
    display: block;
}
.home-container .desktop li:hover{
    border-left: 3px var(--color-icon) solid;    
}

.home-container .desktop li a{
    margin-left: -5px;
}
/***************************************/

/* ************* Recently Background Img **************** */

.row-recently div:first-child .bg-card{
    background-image: url(../img/metal_lifting.jpg);
    
}
.row-recently div:nth-child(2) .bg-card{
    background-image: url(../img/stranger.jpeg);
}
.row-recently div:nth-child(3) .bg-card{
    background-image: url(../img/aquietplace.jpeg);
}
.row-recently div:nth-child(4) .bg-card{
    background-image: url(../img/split.jpeg);
}
.row-recently div:nth-child(5) .bg-card{
    background-image: url(../img/cure.jpeg);
}
.row-recently div:nth-child(6) .bg-card{
    background-image: url(../img/sinister.jpeg);
}

/********************* Playlist Background Img  *****************/
.suggest-row div:first-child .bg-card{
    background-image: url(../img/radar.jpeg);

}
.suggest-row div:nth-child(2) .bg-card{
    background-image: url(../img/mixdaily.jpeg);
}

/* ***************** Popular Background Img ******************** */

.popular-row div:first-child .bg-card{
    background-image: url(../img/youg.jpeg);
    border-radius: 50%;
}
.popular-row div:nth-child(2) .bg-card{
    background-image: url(../img/einaudi.jpeg);
}

/* *************  Minicard Background img  ***************** */

.minicard .bg-minicard{
    background-image: url(../img/Infernum.jpeg);
}

