:root {
    --color-principal: #1D1E25;
    --color-secondary: #0E0000;
    --color-bottom-nav: #2E2B2A;
    --color-top-nav: #151015;
    --color-icon: #A5FD52;
    --color-link: #717171;
    --my-gap: .8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body>*,
.main-container>* {
    min-width: 100px;
    min-height: 100px;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;

}



.main-content-container {
    background-color: var(--color-principal);
    flex-grow: 1;
    overflow: auto;
}

/* ********* NAV BAR LATERALE*********** */
.navbar {
    z-index: 10;
    background-color: var(--color-secondary);
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile{
    display: none;
}


.home-container>img {
    max-width: 160px;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;


}

.playlist-container>ul {
    flex-grow: 1;
    overflow: auto;
}

/*********** Pulsante Crea Playlist *************/
.playlist-container>div {
    margin: .5rem 0;
}

.bt-plus {
    width: 40px;
    height: 40px;
    padding: .5rem 0;
    line-height: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 1.8rem;
    background-color: var(--color-link);
    color: var(--color-secondary);
}

.link-bt {
    padding: 0 .3rem;
    font-size: 1rem;
    vertical-align: 5px;
    color: var(--color-link);
}

.bt-none:hover .link-bt {
    color: white;
}

.bt-none {
    background-color: var(--color-secondary);
    border: 0;
    padding: .2rem 0;
}

.bt-none:hover .bt-plus {
    background-color: white;
}

.login ul li:first-child {
    border-bottom: 1px solid white;
}

.login .icon {
    margin: 0;
    background-color: var(--color-link);
    border-radius: 50%;
}

.login h5 {
    display: inline-block;
    vertical-align: 8px;
}

/* ********** UPGRADE SECTION *************** */
.upgrade {
    background-color: var(--color-top-nav);
    flex-shrink: 0;
    position: fixed;
    right: 0;
    width: 100%;
    text-align: end;
    line-height: 80px;
    z-index: 1;
}
.upgrade button:hover{

    margin-right: 2rem;
    transform: scale(120%);

}


/****************** MAIN CONTENT ********************/
.main-content {
    margin-top: 5rem;
    padding: 1rem;
    flex-grow: 1;
    overflow: auto;

}

.category ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category ul li a {
    padding: 1rem .5rem;
}

/* ************ CONTAINER CARD *************** */


.row {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: var(--my-gap);
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.col-1-6 {
    flex-grow: 0;
    flex-basis: calc((100% / 6) - var(--my-gap));
}


/* *********************** CARD SECTION **************** */
.card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}
.bg-card{
    display: flex;
    position: relative;
    background-size: contain;
    min-height: 100px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}
.playhover{
    
    display: none;
    margin: auto;
    align-self: center;
    font-size: 70px;
    color: rgb(230, 233, 236);

}
.playhover i{
   
}

.bg-card:hover{
    opacity: .5;
}
.bg-card:hover .playhover{
    display: block;
    
}

.description-card {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

.description-card p, .suggest-row>p, .popular-row>p, .description-minicard>p{
    font-size: .8rem;
    color: var(--color-link);
}

/***************** BARRA INFERIORE PER ASCOLTO **********************/

.play-nav-bottom{
    padding: 0 1rem;
    background-color: var(--color-bottom-nav);
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

/**************** Sezione di Sinistra ********************/

.left-play-nav-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.left-container{
    display: flex;
}
.minicard{
    display: flex;
    flex-grow: 1;
    overflow: auto;
    align-items: center;
}
.description-minicard{
    padding: 0 1rem;
}
.description-minicard a:hover{
    text-decoration: underline;
}
.left-container div:nth-child(2) ul{
    display: flex;
    padding: 1rem;
}

.bg-minicard{
    background-size: contain;
    min-height: 50px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
}


/****************Sezione Centrale *******************/
.central-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: .8rem;
    flex-grow: 1;
}
.central-container>div:first-child ul{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
    margin: auto;
}

.central-container a{
    padding: 0 1rem;
    color: white;
    font-size: 1rem;
}

.central-container div:first-child ul li:nth-child(3) a{
    font-size: 2.3rem;
}
.central-container div:first-child ul li:nth-child(3) a:hover{
    transform: scale(120%);
}


.central-container div:last-child{
    display: flex;
    align-items: center;
}
.line{
    flex-grow: 1;
}

.time{
    padding: 0 1rem;
    font-size: .7rem;
}

.bar{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--color-link);
    cursor: pointer;
}
.bar:hover .minibar{
    background-color: var(--color-icon);
}
.minibar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: 10%;
    flex-basis: 20%;
    height: 5px;
    background-color: #aca5a3;
    border-radius: 20px;
}

.round{
    display: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #aca5a3;
}
.bar:hover .round{
    display: block;
}

/***************** Sezione di Destra ***************/
.right-container{
    display: flex;
    justify-content: end;
    flex-grow: 1;
}
.right-container ul{
    display: flex;
    align-items: center;

}
.right-container ul a{
    color: white;
}
.right-container li{
    display: flex;
    align-items: center;
}
.volume-bar{
    min-width: 100px;
    height: 5px;
    background-color: #aca5a3;
    border-radius: 20px;
}
.volume-bar>div{
    display: flex;
    align-items: center;
}

.volume-minibar{
    min-width: 30px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 20px;
}
.volumeround{ 
    position: relative;
    bottom:5px
}

/* .bar{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: var(--color-link);
    cursor: pointer;
}
.bar:hover .minibar{
    background-color: var(--color-icon);
}
.minibar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: 10%;
    flex-basis: 20%;
    height: 5px;
    background-color: #aca5a3;
    border-radius: 20px;
}

.round{
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #aca5a3;
}
.bar:hover .round{
    display: block;
} */






/**************** MINICARD SECTION ************/






@media screen and (max-width: 1100px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--my-gap);
    }

    .col-med {
        flex-grow: 1;
        flex-basis: 0;
    }
    .col-med-1-2{
        flex-grow: 0;
        flex-basis: 0;
    }

    .col-1-4-med {
        flex-basis: calc((100% / 4) - var(--my-gap));
    }

}

@media screen and (max-width: 850px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--my-gap);
    }
    .col-sm{
        flex-grow: 1;
        flex-basis: 0;
    }
    .col-1-2-sm{

        flex-basis: calc((100% / 2) - var(--my-gap));
    }

    .left-container div:nth-child(2) ul{
        display: block;
        padding: 1rem 0;
    }
    .left-container div:nth-child(2) ul a{
        padding: .2rem;
    }

    .right-container  ul ul{
        display: flex;
        flex-direction: column;
    }
    .right-container  ul ul a{
        padding: .2rem;
    }

}

@media screen and (max-width: 652px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: var(--my-gap);
    }
    .col-1-2-sm{

        flex-basis: calc((100% / 2) - var(--my-gap));
    }

    .navbar{
        width: 30px;
        padding: .5rem;
        align-items: center;
    }
    .mobile{
        display: block;
    }

    .icon{
        margin: .5rem 0;
    }
    .logo-big{
        display: none;
    }
    .desktop{
        display: none;
    }
    .login{
        padding: 0;
        margin: 0;
    }

    .main-container>*{
        min-width: 50px;
    }
    .login ul li:first-child{
        border: 0;
        margin: .2rem;
    }

    .volume-bar{
        min-width: 50px;
        height: 5px;
        background-color: #aca5a3;
        border-radius: 20px;
    }
    .volume-minibar{
        min-width: 15px;
        height: 5px;
        background-color: aliceblue;
        border-radius: 20px;
    }

}