:root {
    --color-principal: #1D1E25;
    --color-secondary: #0E0000;
    --color-bottom-nav: #2E2B2A;
    --color-top-nav: #151015;
    --color-icon: #A5FD52;
    --color-link: #717171;
    --my-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body>*,
.main-container>* {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid red;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;

}

.play-nav-container {
    background-color: var(--color-bottom-nav);
}

.main-content-container {
    background-color: var(--color-principal);
    flex-grow: 1;
    overflow: auto;
}

/* ********* NAV BAR LATERALE*********** */
.navbar {
    z-index: 2;
    background-color: var(--color-secondary);
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-container>img {
    max-width: 150px;
}

.login ul li:first-child {
    border-bottom: 1px solid white;
}

.login .icon {
    margin: 0;
    background-color: var(--color-link);
    border-radius: 50%;
}

.login h5 {
    display: inline-block;
    position: relative;
    bottom: 8px;
}

.bt-plus {
    width: 35px;
    height: 38px;
    font-size: 2rem;
    background-color: var(--color-link);
    color: var(--color-secondary);
    text-align: center;
    line-height: 35px;
}

.playlist-container li:first-child:hover .bt-plus {
    background-color: white;
}

/* ********** UPGRADE SECTION *************** */
.upgrade {
    background-color: var(--color-top-nav);
    flex-shrink: 0;
    position: fixed;
    right: 0;
    width: 100%;
    text-align: end;
    line-height: 80px;
}

/****************** MAIN CONTENT ********************/
.main-content {
    margin-top: 5rem;
    padding: 1rem;
    flex-grow: 1;
    overflow: auto;
    border: 1px solid red;

}

.category ul {
    display: flex;
    justify-content: center;
}

.category ul li a {
    padding: 0 .5rem;
}

.container-row {}

.row {
    border: 1px solid rgb(27, 2, 136);
    display: flex;
    flex-wrap: nowrap;
    gap: var(--my-gap);
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    border: 1px dashed yellow;
}

.col-1-6 {

    aspect-ratio: 1/1;
    flex-basis: calc(100% / 6);
}

.bg-card{
    flex-grow: 1;
}

.description-card{

}






@media screen and (max-width: 1400px) {}

@media screen and (max-width: 878px) {
    .row {
        border: 1px solid rgb(27, 2, 136);
        display: flex;
        flex-wrap: wrap;
        gap: var(--my-gap);
    }
    .col-med{
        flex-grow: 1;
        flex-basis: 0;
        border: 1px dashed yellow;
    }

    .col-1-4-med{
        flex-basis:calc(100% / 4);
    }
}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 552px) {}